.u-section-1 .u-sheet-1 {
  min-height: 4087px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 228px;
  transform-origin: left center 0px;
  width: 820px;
}

.u-section-1 .u-line-2 {
  position: absolute;
  top: 236px;
  transform-origin: left center 0px;
  width: 745px;
}

.u-section-1 .u-line-3 {
  position: absolute;
  top: 2045px;
  transform-origin: left center 0px;
  width: 820px;
}

.u-section-1 .u-line-4 {
  position: absolute;
  top: 2055px;
  transform-origin: left center 0px;
  width: 745px;
}

.u-section-1 .u-image-1 {
  width: 206px;
  height: 142px;
  margin: 160px auto 0 453px;
}

.u-section-1 .u-image-2 {
  width: 78px;
  height: 72px;
  margin: -101px auto 0 100px;
}

.u-section-1 .u-image-3 {
  width: 78px;
  height: 72px;
  margin: -72px auto 0 100px;
}

.u-section-1 .u-image-4 {
  width: 78px;
  height: 72px;
  margin: -72px 100px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 70px auto 0 289px;
}

.u-section-1 .u-text-2 {
  margin: 25px 153px 0 741px;
}

.u-section-1 .u-text-3 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-4 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-5 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-6 {
  margin: 7px 153px 0 741px;
}

.u-section-1 .u-text-7 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-8 {
  font-size: 0.625rem;
  margin: -22px auto 0 355px;
}

.u-section-1 .u-text-9 {
  margin: 26px auto 0 153px;
}

.u-section-1 .u-text-10 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-11 {
  font-size: 0.625rem;
  margin: -22px auto 0 351px;
}

.u-section-1 .u-text-12 {
  margin: 26px auto 0 153px;
}

.u-section-1 .u-text-13 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-14 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-15 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-16 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-17 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-18 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-19 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-20 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-21 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-22 {
  font-size: 0.625rem;
  margin: -22px auto 0 308px;
}

.u-section-1 .u-text-23 {
  margin: 26px auto 0 153px;
}

.u-section-1 .u-text-24 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-25 {
  margin: 51px auto 0 296px;
}

.u-section-1 .u-text-26 {
  margin: 20px auto 0 160px;
}

.u-section-1 .u-text-27 {
  margin: -29px 160px 0 733px;
}

.u-section-1 .u-text-28 {
  font-size: 0.625rem;
  margin: -22px auto 0 338px;
}

.u-section-1 .u-text-29 {
  margin: 26px 160px 0 733px;
}

.u-section-1 .u-text-30 {
  margin: -29px auto 0 160px;
}

.u-section-1 .u-text-31 {
  font-size: 0.625rem;
  margin: -22px auto 0 323px;
}

.u-section-1 .u-text-32 {
  margin: 26px 160px 0 733px;
}

.u-section-1 .u-text-33 {
  margin: -29px auto 0 160px;
}

.u-section-1 .u-text-34 {
  font-size: 0.625rem;
  margin: -22px auto 0 403px;
}

.u-section-1 .u-text-35 {
  margin: 26px 160px 0 733px;
}

.u-section-1 .u-text-36 {
  margin: -28px auto 0 160px;
}

.u-section-1 .u-text-37 {
  font-size: 0.625rem;
  margin: -22px auto 0 338px;
}

.u-section-1 .u-text-38 {
  margin: 26px 160px 0 733px;
}

.u-section-1 .u-text-39 {
  margin: -28px auto 0 160px;
}

.u-section-1 .u-text-40 {
  font-size: 0.625rem;
  margin: -23px auto 0 338px;
}

.u-section-1 .u-text-41 {
  margin: 27px 160px 0 733px;
}

.u-section-1 .u-text-42 {
  margin: -29px auto 0 160px;
}

.u-section-1 .u-text-43 {
  font-size: 0.625rem;
  margin: -22px auto 0 374px;
}

.u-section-1 .u-text-44 {
  margin: 26px auto 0 160px;
}

.u-section-1 .u-text-45 {
  margin: -29px 160px 0 733px;
}

.u-section-1 .u-text-46 {
  font-size: 0.625rem;
  margin: -22px auto 0 305px;
}

.u-section-1 .u-text-47 {
  margin: 24px 160px 0 733px;
}

.u-section-1 .u-text-48 {
  margin: -26px auto 0 160px;
}

.u-section-1 .u-text-49 {
  margin: 20px 160px 0 733px;
}

.u-section-1 .u-text-50 {
  margin: -28px auto 0 160px;
}

.u-section-1 .u-text-51 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: -23px auto 0 288px;
}

.u-section-1 .u-text-52 {
  margin: 26px 160px 0 733px;
}

.u-section-1 .u-text-53 {
  margin: -28px auto 0 160px;
}

.u-section-1 .u-text-54 {
  font-size: 0.625rem;
  margin: -22px auto 0 382px;
}

.u-section-1 .u-text-55 {
  margin: 27px auto 0 160px;
}

.u-section-1 .u-text-56 {
  margin: -29px 160px 0 733px;
}

.u-section-1 .u-text-57 {
  font-size: 0.625rem;
  margin: -19px auto 0 323px;
}

.u-section-1 .u-text-58 {
  margin: 23px 160px 0 733px;
}

.u-section-1 .u-text-59 {
  margin: -29px auto 0 160px;
}

.u-section-1 .u-text-60 {
  margin: 20px auto 0 160px;
}

.u-section-1 .u-text-61 {
  margin: -29px 160px 0 733px;
}

.u-section-1 .u-text-62 {
  margin: 20px 160px 0 733px;
}

.u-section-1 .u-text-63 {
  margin: -29px auto 0 160px;
}

.u-section-1 .u-text-64 {
  margin: 20px auto 0 296px;
}

.u-section-1 .u-text-65 {
  margin: 20px 160px 0 733px;
}

.u-section-1 .u-text-66 {
  margin: -29px auto 0 160px;
}

.u-section-1 .u-text-67 {
  margin: 20px 160px 0 733px;
}

.u-section-1 .u-text-68 {
  margin: -29px auto 0 160px;
}

.u-section-1 .u-text-69 {
  margin: 20px 160px 0 733px;
}

.u-section-1 .u-text-70 {
  margin: -29px auto 0 160px;
}

.u-section-1 .u-text-71 {
  margin: 20px 160px 0 733px;
}

.u-section-1 .u-text-72 {
  margin: -28px auto 0 160px;
}

.u-section-1 .u-image-5 {
  width: 206px;
  height: 142px;
  margin: 46px auto 0 453px;
}

.u-section-1 .u-image-6 {
  width: 78px;
  height: 72px;
  margin: -107px auto 0 100px;
}

.u-section-1 .u-image-7 {
  width: 78px;
  height: 72px;
  margin: -72px 100px 0 auto;
}

.u-section-1 .u-text-73 {
  margin: 55px auto 0 289px;
}

.u-section-1 .u-text-74 {
  margin: 25px auto 0 153px;
}

.u-section-1 .u-text-75 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-76 {
  margin: 14px auto 0 153px;
}

.u-section-1 .u-text-77 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-78 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-79 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-80 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-81 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-82 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-83 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-84 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-85 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-86 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-87 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-88 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-89 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-90 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-91 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-92 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-93 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-94 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-95 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-96 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-97 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-98 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-99 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-100 {
  margin: 40px auto 0 289px;
}

.u-section-1 .u-text-101 {
  margin: 25px 153px 0 741px;
}

.u-section-1 .u-text-102 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-103 {
  margin: 14px 153px 0 741px;
}

.u-section-1 .u-text-104 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-105 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-106 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-107 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-108 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-109 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-110 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-111 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-112 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-113 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-114 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-115 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-116 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-117 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-118 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-119 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-120 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-121 {
  margin: 20px 160px 0 734px;
}

.u-section-1 .u-text-122 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-123 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-124 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-125 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-126 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-127 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-128 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-129 {
  margin: 20px 153px 0 741px;
}

.u-section-1 .u-text-130 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-131 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-132 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-133 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-134 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-135 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-136 {
  margin: -29px 153px 0 741px;
}

.u-section-1 .u-text-137 {
  margin: 42px auto 0 289px;
}

.u-section-1 .u-text-138 {
  margin: 25px 153px 0 741px;
}

.u-section-1 .u-text-139 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-140 {
  margin: 14px 153px 0 741px;
}

.u-section-1 .u-text-141 {
  margin: -29px auto 0 153px;
}

.u-section-1 .u-text-142 {
  margin: 20px auto 0 153px;
}

.u-section-1 .u-text-143 {
  margin: -29px 153px 57px 741px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 128px;
  }

  .u-section-1 .u-image-2 {
    height: 71px;
    margin-top: -70px;
  }

  .u-section-1 .u-image-3 {
    height: 71px;
  }

  .u-section-1 .u-image-4 {
    height: 71px;
    margin-top: -71px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 50px;
    margin-right: 219px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -58px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 45px;
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -20px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 8px;
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -23px;
    margin-left: 289px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 52px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -28px;
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 97px;
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -47px;
    margin-left: 278px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 608px;
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -712px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 520px;
    margin-left: 266px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 524px;
    margin-right: 52px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -1070px;
  }

  .u-section-1 .u-text-34 {
    margin-top: 79px;
    margin-left: 332px;
  }

  .u-section-1 .u-text-35 {
    margin-top: 966px;
    margin-right: 67px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-36 {
    margin-top: -1070px;
  }

  .u-section-1 .u-text-37 {
    margin-top: 51px;
    margin-left: 278px;
  }

  .u-section-1 .u-text-38 {
    margin-top: 994px;
    margin-right: 67px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-39 {
    margin-top: -1070px;
  }

  .u-section-1 .u-text-40 {
    margin-top: 22px;
    margin-left: 278px;
  }

  .u-section-1 .u-text-41 {
    margin-top: 23px;
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-42 {
    margin-top: -70px;
  }

  .u-section-1 .u-text-43 {
    margin-top: 23px;
    margin-left: 308px;
  }

  .u-section-1 .u-text-44 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-45 {
    margin-top: 12px;
    margin-right: 52px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-46 {
    margin-top: -18px;
  }

  .u-section-1 .u-text-47 {
    margin-top: 20px;
    margin-right: 52px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-48 {
    margin-top: -70px;
  }

  .u-section-1 .u-text-49 {
    margin-top: 61px;
    margin-right: 52px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-50 {
    margin-top: -70px;
  }

  .u-section-1 .u-text-51 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-52 {
    margin-top: 20px;
    margin-right: 52px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-53 {
    margin-top: -70px;
  }

  .u-section-1 .u-text-54 {
    margin-top: 26px;
    margin-left: 315px;
  }

  .u-section-1 .u-text-55 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-56 {
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-57 {
    margin-top: -20px;
    margin-left: 266px;
  }

  .u-section-1 .u-text-58 {
    margin-top: 24px;
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-59 {
    margin-top: -78px;
  }

  .u-section-1 .u-text-61 {
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-63 {
    margin-top: -78px;
  }

  .u-section-1 .u-text-64 {
    margin-top: 69px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 60px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-75 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-77 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-78 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-80 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-82 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-85 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-87 {
    margin-right: 52px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-88 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-90 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-93 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-94 {
    margin-right: 52px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-96 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-98 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-100 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-101 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-103 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-106 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-108 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-110 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-111 {
    margin-right: 52px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-113 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-116 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-118 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-119 {
    margin-right: 52px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-121 {
    margin-right: 60px;
    margin-left: 634px;
  }

  .u-section-1 .u-text-124 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-126 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-128 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-129 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-132 {
    margin-right: 52px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-134 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-136 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-138 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-140 {
    margin-right: 53px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-143 {
    margin-right: 53px;
    margin-left: 641px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-line-3 {
    width: 720px;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 80px;
    margin-left: 474px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 229px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-left: 221px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 227px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -153px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 714px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 414px;
    margin-left: 204px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 631px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-34 {
    margin-top: -27px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-35 {
    margin-top: 1072px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-37 {
    margin-top: -26px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-38 {
    margin-top: 1071px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-40 {
    margin-top: -27px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-41 {
    margin-top: 72px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-43 {
    margin-top: -26px;
    margin-left: 236px;
  }

  .u-section-1 .u-text-44 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-46 {
    margin-top: -67px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-47 {
    margin-top: 68px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-51 {
    margin-top: -24px;
    margin-left: 221px;
  }

  .u-section-1 .u-text-52 {
    margin-top: 69px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-54 {
    margin-top: -22px;
    margin-left: 241px;
  }

  .u-section-1 .u-text-55 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-56 {
    margin-top: -29px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-57 {
    margin-top: -19px;
    margin-left: 204px;
  }

  .u-section-1 .u-text-58 {
    margin-top: 23px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-59 {
    margin-top: -29px;
  }

  .u-section-1 .u-text-61 {
    margin-top: -29px;
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-63 {
    margin-top: -29px;
  }

  .u-section-1 .u-text-64 {
    margin-top: 20px;
    margin-left: 227px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-text-73 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-75 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-77 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-78 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-80 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-82 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-85 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-87 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-88 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-90 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-93 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-94 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-96 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-98 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-100 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-101 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-103 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-106 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-108 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-110 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-111 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-113 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-116 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-118 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-119 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-121 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-124 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-126 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-128 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-129 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-132 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-134 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-136 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-137 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-138 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-140 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-1 .u-text-143 {
    margin-right: 0;
    margin-left: 474px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 115px;
    margin-left: 334px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 166px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 69px;
    margin-right: 164px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 32px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 21px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 21px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 37px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -32px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 7px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 29px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -32px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 21px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 41px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 56px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -201px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 763px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -664px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 325px;
    margin-left: 153px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 676px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -1021px;
  }

  .u-section-1 .u-text-34 {
    margin-top: -115px;
    margin-left: 191px;
  }

  .u-section-1 .u-text-35 {
    margin-top: 1115px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-36 {
    margin-top: -1022px;
  }

  .u-section-1 .u-text-37 {
    margin-top: -110px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-38 {
    margin-top: 1110px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-39 {
    margin-top: -1022px;
  }

  .u-section-1 .u-text-40 {
    margin-top: -108px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-41 {
    margin-top: 125px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-42 {
    margin-top: -38px;
  }

  .u-section-1 .u-text-43 {
    margin-top: -103px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-44 {
    margin-top: 108px;
  }

  .u-section-1 .u-text-45 {
    margin-top: -13px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-46 {
    margin-top: -112px;
    margin-left: 176px;
  }

  .u-section-1 .u-text-47 {
    margin-top: 114px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-48 {
    margin-top: -38px;
  }

  .u-section-1 .u-text-49 {
    margin-top: 32px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-50 {
    margin-top: -38px;
  }

  .u-section-1 .u-text-51 {
    margin-top: -92px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-52 {
    margin-top: 108px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-53 {
    margin-top: -38px;
  }

  .u-section-1 .u-text-54 {
    margin-top: -87px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-55 {
    margin-top: 92px;
  }

  .u-section-1 .u-text-56 {
    margin-top: -38px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-57 {
    margin-top: -68px;
    margin-left: 153px;
  }

  .u-section-1 .u-text-58 {
    margin-top: 73px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-59 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-61 {
    margin-top: -38px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-62 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-63 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-64 {
    margin-top: 8px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-65 {
    margin-top: 21px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-67 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-69 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-71 {
    margin-top: 21px;
    margin-left: 293px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 334px;
  }

  .u-section-1 .u-text-73 {
    margin-left: 166px;
  }

  .u-section-1 .u-text-74 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-75 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-76 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-77 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-78 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-80 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-82 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-85 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-86 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-87 {
    margin-top: -22px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-88 {
    margin-top: 17px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-90 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-93 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-94 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-96 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-98 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-100 {
    margin-top: 61px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-101 {
    margin-top: 26px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-103 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-106 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-108 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-110 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-111 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-113 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-116 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-118 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-119 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-121 {
    margin-top: 17px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-122 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-123 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-124 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-126 {
    margin-left: 294px;
  }

  .u-section-1 .u-text-128 {
    margin-top: -22px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-129 {
    margin-top: 13px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-130 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-131 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-132 {
    margin-top: -22px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-133 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-134 {
    margin-top: -22px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-135 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-136 {
    margin-top: -22px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-137 {
    margin-top: 39px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-138 {
    margin-top: 22px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-139 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-140 {
    margin-top: 7px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-141 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-142 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-143 {
    margin-top: -22px;
    margin-left: 294px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 108px;
    margin-left: 134px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 79px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 96px;
    margin-right: 103px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -1px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -31px;
    margin-left: 106px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 21px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 33px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -39px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -35px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -18px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -208px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 754px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 318px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 667px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -1022px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-34 {
    margin-top: -120px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-35 {
    margin-top: 1105px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-37 {
    margin-top: -117px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-38 {
    margin-top: 1101px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-40 {
    margin-top: -114px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-41 {
    margin-top: 115px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-42 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-43 {
    margin-top: -109px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-44 {
    margin-top: 98px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-46 {
    margin-top: -118px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-47 {
    margin-top: 104px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-51 {
    margin-top: -98px;
    margin-left: 105px;
  }

  .u-section-1 .u-text-52 {
    margin-top: 98px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-54 {
    margin-top: -94px;
    margin-left: 114px;
  }

  .u-section-1 .u-text-55 {
    margin-top: 82px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-56 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-57 {
    margin-top: -74px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-58 {
    margin-top: 63px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-59 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-60 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-61 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-62 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-63 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-64 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-65 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-66 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-67 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-68 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-69 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-70 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-71 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-72 {
    margin-left: 101px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 134px;
  }

  .u-section-1 .u-text-73 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-74 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-75 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-76 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-77 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-78 {
    margin-top: 36px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-80 {
    margin-top: 36px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-81 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-82 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-83 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-84 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-85 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-86 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-87 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-88 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-89 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-90 {
    margin-top: 36px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-91 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-92 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-93 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-94 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-95 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-96 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-97 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-98 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-99 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-100 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-101 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-102 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-103 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-104 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-105 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-106 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-107 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-108 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-109 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-110 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-111 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-112 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-113 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-114 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-115 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-116 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-117 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-118 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-119 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-120 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-121 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-122 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-123 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-124 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-125 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-126 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-127 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-128 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-129 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-130 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-131 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-132 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-133 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-134 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-135 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-136 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-137 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-138 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-139 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-140 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-141 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-142 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-143 {
    margin-left: 94px;
  }
}